body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

td {
    min-width:70px;
}

.rightedge{
    text-align:right;
}

#logo {
    float: left;
    padding: 0 10px;
    width: 50px;
}

h1, h2, h3 {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: darkgreen;
}

header > h1 {
    font-size: 2.5em;
    margin: 0;
}

header > h2 {
    font-size: 1.8em;
    color: goldenrod;
    margin: 0;
}

h3 {
    font-size: 1.4em;
    color: black;
    margin-bottom: .1em;
    font-style: italic;
}

nav {
    position: absolute;
    top: 10px;
    right: 50px;
}

    nav > a {
        display: block;
    }
