@model IndyBooks.ViewModels.SearchViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "Search";
}
<h3>Find Books</h3>
<form asp-action="Search" asp-controller="Admin">
    <div>
        Title to Find: <input asp-for="Title" />
    </div>
    <!-- TODO: Add fields needed for seraching -->
    <div>
        <input type="submit" value="Search"/>
    </div>
</form>
